* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--text-color: white;
	--surface-color: rgba(255, 255, 255, 0.05);
	--surface-color-hover: rgba(255, 255, 255, 0.02);
	--stroke-color: rgba(255, 255, 255, 0.5);
	--highlight-color: rgba(255, 255, 255, 0.2);
	--bg-url: url(./assets/bg-mobile.jpg);
	--switch-bg-url: url(./assets/moon-star.svg);
}

.light {
	--text-color: black;
	--surface-color: rgba(0, 0, 0, 0.05);
	--surface-color-hover: rgba(0, 0, 0, 0.02);
	--stroke-color: rgba(0, 0, 0, 0.5);
	--highlight-color: rgba(0, 0, 0, 0.1);
	--bg-url: url(./assets/bg-mobile-light.jpg);
	--switch-bg-url: url(./assets/sun-star.svg);
}

body {
	background: var(--bg-url);
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--text-color);
}

#container {
	width: 360px;
	margin: 56px auto 0;
	padding: 0 24px;
}

#profile {
	text-align: center;
	padding: 24px;
}

#profile img {
	width: 112px;
}

#profile p {
	font-family: sans-serif;
	font-size: 16px;
	line-height: 26px;
	margin-top: 8px;
}

#switch {
	position: relative;
	width: 64px;

	margin: 4px auto 16px;
}

#switch button {
	width: 32px;
	height: 32px;
	background: var(--switch-bg-url) white no-repeat center;
	border: 0;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	transform: translateY(-55%);
}

.light #switch button {
	right: 0;
	left: initial;
}

#switch span {
	display: inline-block;
	width: 64px;
	height: 24px;
	background: var(--surface-color);
	border: 1px solid var(--stroke-color);
	backdrop-filter: blur(4px);
	border-radius: 12px;
}

ul {
	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-bottom: 24px;
}

ul li a {
	display: flex;
	align-items: center;
	justify-content: center;

	background: var(--surface-color);
	border: 1px solid var(--stroke-color);
	border-radius: 10px;

	padding: 16px 24px;

	backdrop-filter: blur(4px);

	text-decoration: none;

	font-weight: 500;

	transition: background 0.2s;
}

ul li a:hover {
	background: var(--surface-color-hover);
	border: 1px solid burlywood;
}

#social-links {
	display: flex;
	gap: 24px;
	font-size: 28px;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

#social-links a {
	display: flex;

	justify-content: center;
	align-items: center;
	border-radius: 12px;
	padding: 6px;

	transition: background 0.5s;

}

#social-links a:hover {
	background: var(--highlight-color);
}

footer {
	text-align: center;
	padding: 48px 16px;
}